<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Cpf</th>
        <th scope="col">Crm</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medico of medicos">
        <th scope="row">{{ medico.id_medico }}</th>
        <td>{{ medico.nom_medico }}</td>
        <td>{{ medico.doc_cpf }}</td>
        <td>{{ medico.doc_crm }}</td>
      </tr>
    </tbody>
  </table>
</div>